// Keyframe
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hiden {
  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -100;
  }
}

@keyframes spawn {
  0% {
    transform: translateX(-9999px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes check {
  0% {
    transform: translateX(20px)
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes uncheck {
  0% {
    transform: translateX(0px)
  }

  99% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px)
  }
}

@keyframes translate {
  0% {
    transform: translateX(-9999px);
  }

  100% {
    transform: translate(0);
  }
}