// Keyframe
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hiden {
  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -100;
  }
}

@keyframes spawn {
  0% {
    transform: translateX(-9999px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes translate {
  0% {
    transform: translateX(-9999px);
  }

  100% {
    transform: translate(0);
  }
}