// les restaurants

header {
  z-index: 1;

  a {
    text-decoration: none;

    i {
      color: $grey;
    }
  }
}

#banner {
  position: relative;
  height: 275px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

#menu {
  z-index: 1;
  border-radius: 20px 20px 0 0;
  background-color: $background;
  padding-top: 20px;
  margin-top: -50px;
  position: relative;

  h2 {
    font-family: $font-logo;
    margin: 0 0 20px 20px;
    font-size: 1.75em;
    font-weight: normal;
  }

  .menu {
    margin: 0 20px;

    .translate {
      animation: translate 500ms cubic-bezier(.23, 0, .13, 1) both;
    }

    .entrees {
      margin-bottom: 30px;

      @for $i from 1 through 10 {
        .translate:nth-child(#{$i}) {
          animation-delay: ($i - 1) * 150ms;
        }
      }
    }

    .plats {
      margin-bottom: 30px;

      @for $i from 1 through 10 {
        .translate:nth-child(#{$i}) {
          $offset: 4;
          animation-delay: ($offset + $i - 1) * 150ms;
        }
      }
    }

    .desserts {
      @for $i from 1 through 10 {
        .translate:nth-child(#{$i}) {
          $offset: 9;
          animation-delay: ($offset + $i - 1) * 150ms;
        }
      }
    }

    .subtitle {
      display: flex;
      flex-direction: column;
      padding-bottom: 12px;
      gap: 5px;

      .underline {
        width: 40px;
        height: 0;
        border-top: 3px solid #99E2D0;
      }

      h3 {
        font-size: 1em;
        font-weight: 300;
      }
    }

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      min-width: 304px;
      margin: 0 15px;

      .card {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
        border-radius: 15.04px;
        background: white;
        padding: 15.04px;
        max-height: 69px;
        width: 100%;

        .card-left {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          .plat {
            font-size: 1.125em;
            font-weight: 500;
            font-family: $primary-font;
            padding-bottom: 5px;
          }

          .description {
            font-size: 15px;
            font-weight: 300;
          }
        }

        .card-right {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;

          .check__elements {
            position: relative;

            input {
              position: absolute;
              top: auto;
              right: auto;
              opacity: 0;
              z-index: 2;

              &:checked {
                +i {
                  color: green;
                  opacity: 1;
                  transition: opacity 0.3s;
                  animation: check 0.3s both;
                }
              }
            }

            i {
              animation: uncheck 0.3s backwards;
              color: black;
              opacity: 0.1;
              transition: opacity 0.3s;
              z-index: 1;
            }
          }
        }

        .price {
          font-size: 15px;
          font-weight: 700;
          font-family: $primary-font;
        }
      }
    }
  }

  .heart-checkbox {
    position: absolute;
    right: 30px;
    top: 25px;

    &__elements {
      position: relative;
      width: 30px;
      height: 30px;

      input {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        cursor: pointer;
        z-index: 3;
      }

      .fa-regular,
      .fa-solid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s;
      }

      .fa-regular {
        opacity: 1;
        z-index: 1;
      }

      .fa-solid {
        transform: scale(0);
        opacity: 0;
        color: transparent;
        background: linear-gradient($purple, $pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 2;
      }

      input:checked~.fa-regular {
        opacity: 0;
      }

      input:checked~.fa-solid {
        animation: pulse 0.3s;
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .command {
    padding: 50px calc(50% - 109px);

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 218px;
      font-style: normal;
      color: white;
      background: linear-gradient($pink, $purple);
      font-family: $primary-font;
      text-decoration: none;
      border-radius: 25px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      transition: opacity 300ms;
      position: relative;
      z-index: 1;

      &:hover {
        &::after {
          opacity: 1;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(lighten($pink, 15%), lighten($purple, 15%));
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        transition: opacity 300ms;
        opacity: 0;
        border-radius: 25px;
        z-index: -1;
      }

      &:active {
        animation: pulse 0.1s;
      }
    }
  }
}

@media screen and (min-width:1024px) {
  #banner {
    height: 383px;
  }

  #menu {
    max-width: 1055px;
    margin: -20px calc(50% - 527.5px) 0 calc(50% - 527.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      margin-left: 0;
    }

    .heart-checkbox {
      position: absolute;
      left: calc(13.62% + calc(153px + 37%));
      top: 25px;
    }

    .menu {
      width: 65%;

      .entrees {
        margin-bottom: 50px;
      }

      .plats {
        margin-bottom: 50px;
      }
    }
  }
}