// Ajout des polices d'écriture
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');


// definition des couleurs du site
$purple : #9356DC;
$pink : #FF79DA;
$blue : #003A68;
$light-blue : #89C8FA;
$green : #008766;
$light-green : #99E2D0;
$cream : #F3F3F3;

// définition de la police d'écriture
$font-primary: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', cursive;

// ajout de la police aux diférent éléments
h1, h2, h3 {
  font-family: $font-logo;
}

.logo {
  font-family: $font-logo;
}

p {
  font-family: $font-primary;
}

header{
    h1{
        display: none;
    }
}

footer{

}