// Ajout des polices d'écriture
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

// Keyframe
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}





// definition des couleurs du site
$purple : #9356DC;
$pink : #FF79DA;
$blue : #003A68;
$light-blue : #89C8FA;
$green : #008766;
$light-green : #99E2D0;
$background : #F6F6F6;
$grey : #353535;
$grey-icons : #7E7E7E; 
$grey2 :#EAEAEA;

// définition de la police d'écriture
$primary-font: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', cursive;

// ajout de la police aux diférent éléments
h1, .logo {
  font-family: $font-logo;
}

p , h2, h3 {
  font-family: $primary-font;
}

p, h3{
  margin: 0;
}



html{
  width: 100%;
}

body{
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
  img{
    width: 197px;
    height: 36px;
    margin: 14px 89px;
  }
}

#reservation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background;
  padding-bottom: 55px;
  .search {
    position: relative;
    width: 100%;
    height: 50px;
    
      &::before {
      content: "\f3c5";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      left: 50%;               
      transform: translateX(calc(-50% - 80px));  
      top: 50%;
      translate: 0 -50%;
      color: $grey;
      font-size: 16px;
      pointer-events: none;
    }

    &:not(:has(#searchbar:placeholder-shown))::before {
      opacity: 0;
    }

    input{
      border: 0;
      padding: 0;
    }
  }
  
  .explore{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2, p{
      text-align: center;
      font-family: $primary-font;
    }

    h2{
      font-size: 24px;
      padding: 0 15%;
      margin-top: 39px;
      margin-bottom: 10px;
    }

    p{
      padding: 0 6%;
      margin-top: 0;
      font-weight: 300;
      font-size: 18px;
    }

    a{
      margin-top: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 218px;
      font-style: normal;
      color: white;
      background: linear-gradient($pink,$purple);
      font-family: $primary-font;
      text-decoration: none;
      border-radius: 25px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
      transition: background 300ms,box-shadow 300ms;
      position: relative;
      z-index: 1;
      
      &:hover{
        &::after{
          opacity: 1;
        }
      }

      &::after{
        content: "";
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(lighten($pink,15%),lighten($purple,15%));
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        transition: background 300ms,box-shadow 300ms;
        opacity: 0;
        border-radius: 25px;
        z-index: -1;
      }
    }
  }

  #searchbar {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    color: $grey;
    background-color: $grey2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

#fonctionnement {
  padding: 0 20px 30px 20px;


  ol {
    padding-left: 0;
    counter-reset: step;

    li {
      list-style: none;
      position: relative;
      counter-increment: step;
      margin-left: 10px;
      position: relative;
      z-index: 10;

      &::before {
        content: counter(step);
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);

        width: 30px;
        height: 30px;

        background: $purple;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1rem;

      }

      .li-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        margin: 30px 0;
        height: 72px;
        width: 86%;
        background-color: $background;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        padding-left: 40px;
        gap: 25px;

        i {
          font-size: 24px;
          color: $grey-icons;
          &.purple-icon{
            color: $purple;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

#restaurants{
  background-color: $background;
  padding: 50px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;

  h2{
    margin-bottom: 5px;
  }

  .cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card{
    height: 251px;
    width: 340px;
    max-height: 251px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background: white;
    position: relative;

    .heart-checkbox {
      position: absolute;
      right: 30px;
      bottom: 30px;

      &__elements {
        position: relative;
        width: 30px;
        height: 30px;

        input {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          margin: 0;
          cursor: pointer;
          z-index: 3;
        }

        .fa-regular,
        .fa-solid {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: opacity 0.3s;
        }

        .fa-regular {
          opacity: 1;
          z-index: 1;
        }

        .fa-solid {
          transform: scale(0);
          opacity: 0;
          color: transparent; 
          background: linear-gradient($purple, $pink);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          z-index: 2;
        }

        input:checked ~ .fa-regular {
          opacity: 0; 
        }

        input:checked ~ .fa-solid {
          animation: pulse 0.3s; 
          transform: scale(1);
          opacity: 1;
        }
      }
    } 
  }

  a{
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    
    .new{
      width: 80px;
      height: 29px;
      background-color: $light-green;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #008766;
      position: absolute;
      right: 15px;
      top : 80px;
    }
  }
      
  img{
    height: 231px;
    width: 346px;
    object-fit: cover;
  }
      
  .card-content{
    padding: 0 20px;
    min-height: 80px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .card-title{
      font-size: 18px;
    }
  }
}

footer{
  background: $grey;
  color: white;
  padding-left: 20px;

  h2{
    font-family: $font-logo;
    margin:0 0 20px 0;
    padding-top: 20px;
    font-weight: 400;
    font-size: 18px;
  }

  ul{
    list-style: none;
    font-family: $primary-font;
    margin: 0;
    padding: 0;

    li{
      margin-top: 10px;
    }
  }

  a{
    text-decoration: none;
    color: white;
  }

  p{
    margin-top: 20px;
    padding-bottom: 20px;
  }
}



// affichage tablette


// affichage desktop
@media screen and (min-width:1440px) {
  #restaurants{
    .card{
      .heart-checkbox {
        &__elements {
            input:hover ~ .fa-solid{
            opacity: 1;
            transform: scale(1);
            transition: transform 0.3s;
          }

          input:hover ~ .fa-regular{
            transform: scale(0);
            transition: transform 0ms 290ms;
          }
        }
      }
    }
  }
}