// Ajout des polices d'écriture
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');


// definition des couleurs du site
$purple : #9356DC;
$pink : #FF79DA;
$blue : #003A68;
$light-blue : #89C8FA;
$green : #008766;
$light-green : #99E2D0;
$background : #F6F6F6;
$grey : #353535;
$grey2 :#EAEAEA;

// définition de la police d'écriture
$primary-font: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', cursive;

// ajout de la police aux diférent éléments
h1, .logo {
  font-family: $font-logo;
}

p , h2, h3 {
  font-family: $primary-font;
}



html{
  width: 100%;
}

body{
  margin: 0;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
  img{
    width: 197px;
    height: 36px;
    margin: 14px 89px;
  }
}

#reservation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background;
  padding-bottom: 55px;
  .search {
    position: relative;
    width: 100%;
    height: 50px;
    
      &::before {
      content: "\f3c5";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      position: absolute;
      left: 50%;               
      transform: translateX(calc(-50% - 80px));  
      top: 50%;
      translate: 0 -50%;
      color: $grey;
      font-size: 16px;
      pointer-events: none;
    }

    &:not(:has(#searchbar:placeholder-shown))::before {
      opacity: 0;
    }

    input{
      border: 0;
      padding: 0;
    }
  }
  
  .explore{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2, p{
      text-align: center;
      font-family: $primary-font;
    }

    h2{
      font-size: 24px;
      padding: 0 15%;
      margin-top: 39px;
      margin-bottom: 10px;
    }

    p{
      padding: 0 6%;
      margin-top: 0;
      font-weight: 300;
      font-size: 18px;
    }

    a{
      margin-top: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 218px;
      font-style: normal;
      color: white;
      background: linear-gradient($pink,$purple);
      font-family: $primary-font;
      text-decoration: none;
      border-radius: 25px;
    }
  }

  #searchbar {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    color: $grey;
    background-color: $grey2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

#fonctionnement {
  padding: 0 20px;

  ol {
    padding-left: 0;
    counter-reset: step;

    li {
      list-style: none;
      position: relative;
      counter-increment: step;
      margin-left: 10px;
      position: relative;
      z-index: 10;

      &::before {
        content: counter(step);
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);

        width: 30px;
        height: 30px;

        background: $purple;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 1rem;

      }

      .li-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        margin: 30px 0;
        height: 72px;
        width: 86%;
        background-color: $background;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        padding-left: 40px;
        gap: 25px;

        i {
          font-size: 24px;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
