@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
#banner {
  z-index: -1;
}
#banner img {
  width: 100%;
}

#menu {
  z-index: 1;
  border-radius: 20px 20px 0 0;
  background-color: #F6F6F6;
  padding-top: 20px;
  margin-top: -50px;
  position: relative;
}
#menu h2 {
  font-family: "Shrikhand", cursive;
  margin: 0 0 20px 20px;
  font-size: 1.75em;
  font-weight: normal;
}
#menu .heart-checkbox {
  position: absolute;
  right: 30px;
  top: 25px;
}
#menu .heart-checkbox__elements {
  position: relative;
  width: 30px;
  height: 30px;
}
#menu .heart-checkbox__elements input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 3;
}
#menu .heart-checkbox__elements .fa-regular,
#menu .heart-checkbox__elements .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}
#menu .heart-checkbox__elements .fa-regular {
  opacity: 1;
  z-index: 1;
}
#menu .heart-checkbox__elements .fa-solid {
  transform: scale(0);
  opacity: 0;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
#menu .heart-checkbox__elements input:checked ~ .fa-regular {
  opacity: 0;
}
#menu .heart-checkbox__elements input:checked ~ .fa-solid {
  animation: pulse 0.3s;
  transform: scale(1);
  opacity: 1;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
#loading {
  z-index: 20;
  height: 100%;
  width: 100%;
  min-height: 756px;
  animation: hiden 0ms 3s both;
  position: absolute;
}
#loading .load {
  position: relative;
  top: calc(45% - 85px);
  left: calc(50% - 113px);
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
}
#loading .load__bar {
  background: linear-gradient(purple, pink);
  border-radius: 1.5vh;
  height: 100%;
  width: 3vh;
  animation: bars 1000ms alternate backwards infinite;
}
#loading .load__bar--1 {
  animation-delay: 200ms;
}
#loading .load__bar--2 {
  animation-delay: 400ms;
}
#loading .load__bar--3 {
  animation-delay: 600ms;
}
#loading .load__bar--4 {
  animation-delay: 800ms;
}
#loading .load__bar--5 {
  animation-delay: 1000ms;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hiden {
  100% {
    display: none;
  }
}
@keyframes spawn {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
h1, .logo {
  font-family: "Shrikhand", cursive;
}

p, h2, h3 {
  font-family: "Roboto", sans-serif;
}

p, h3 {
  margin: 0;
}

header,
main,
footer {
  animation: spawn 0ms 3s both;
}

html {
  width: 100%;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
}
header img {
  width: 197px;
  height: 36px;
  margin: 14px 89px;
}
header a {
  position: absolute;
  top: 24px;
  left: 20px;
}

#reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  padding-bottom: 55px;
}
#reservation .search {
  position: relative;
  width: 100%;
  height: 50px;
}
#reservation .search::before {
  content: "\f3c5";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 80px));
  top: 50%;
  translate: 0 -50%;
  color: #353535;
  font-size: 16px;
  pointer-events: none;
}
#reservation .search:not(:has(#searchbar:-moz-placeholder))::before {
  opacity: 0;
}
#reservation .search:not(:has(#searchbar:placeholder-shown))::before {
  opacity: 0;
}
#reservation .search input {
  border: 0;
  padding: 0;
}
#reservation .explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#reservation .explore h2, #reservation .explore p {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#reservation .explore h2 {
  font-size: 24px;
  padding: 0 15%;
  margin-top: 39px;
  margin-bottom: 10px;
}
#reservation .explore p {
  padding: 0 6%;
  margin-top: 0;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
}
#reservation .explore a {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 218px;
  font-style: normal;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: opacity 300ms;
  position: relative;
  z-index: 1;
}
#reservation .explore a:hover::after {
  opacity: 1;
}
#reservation .explore a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgb(255, 197.5, 239.1231343284), rgb(187.5, 149.375, 233.125));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: opacity 300ms;
  opacity: 0;
  border-radius: 25px;
  z-index: -1;
}
#reservation #searchbar {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#fonctionnement {
  padding: 0 20px 30px 20px;
}
#fonctionnement ol {
  padding-left: 0;
  counter-reset: step;
}
#fonctionnement ol li {
  list-style: none;
  position: relative;
  counter-increment: step;
  margin-left: 10px;
  position: relative;
  z-index: 10;
}
#fonctionnement ol li::before {
  content: counter(step);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: #9356DC;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
}
#fonctionnement ol li .li-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  margin: 30px 0;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding-left: 40px;
  gap: 25px;
}
#fonctionnement ol li .li-content i {
  font-size: 24px;
  color: #7E7E7E;
}
#fonctionnement ol li .li-content i.purple-icon {
  color: #9356DC;
}
#fonctionnement ol li .li-content p {
  margin: 0;
}

#restaurants {
  background-color: #F6F6F6;
  padding: 50px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
#restaurants h2 {
  margin-bottom: 5px;
}
#restaurants .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
#restaurants .card {
  height: 251px;
  width: 340px;
  max-height: 251px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  background: white;
  position: relative;
}
#restaurants .card .heart-checkbox {
  position: absolute;
  right: 30px;
  bottom: 30px;
}
#restaurants .card .heart-checkbox__elements {
  position: relative;
  width: 30px;
  height: 30px;
}
#restaurants .card .heart-checkbox__elements input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 3;
}
#restaurants .card .heart-checkbox__elements .fa-regular,
#restaurants .card .heart-checkbox__elements .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
}
#restaurants .card .heart-checkbox__elements .fa-regular {
  opacity: 1;
  z-index: 1;
}
#restaurants .card .heart-checkbox__elements .fa-solid {
  transform: scale(0);
  opacity: 0;
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}
#restaurants .card .heart-checkbox__elements input:checked ~ .fa-regular {
  opacity: 0;
}
#restaurants .card .heart-checkbox__elements input:checked ~ .fa-solid {
  animation: pulse 0.3s;
  transform: scale(1);
  opacity: 1;
}
#restaurants a {
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}
#restaurants a .new {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #008766;
  position: absolute;
  right: 15px;
  top: 80px;
}
#restaurants img {
  height: 231px;
  width: 346px;
  -o-object-fit: cover;
     object-fit: cover;
}
#restaurants .card-content {
  padding: 0 20px;
  min-height: 80px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#restaurants .card-content .card-title {
  font-size: 18px;
}

footer {
  background: #353535;
  color: white;
  padding-left: 20px;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  margin: 0 0 20px 0;
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
}
footer ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0 0 30px 0;
}
footer ul li {
  margin-top: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1024px) {
  #reservation .explore {
    width: 100%;
    gap: 20px;
  }
  #reservation .explore h2 {
    font-size: 40px;
    font-weight: 700;
  }
  #fonctionnement {
    max-width: 1054px;
    width: 100%;
    margin: 0 auto;
  }
  #fonctionnement ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #fonctionnement ol li {
    width: 30%;
  }
  #restaurants .width-ajust {
    max-width: 1054px;
    width: 100%;
    margin: 0 auto;
  }
  #restaurants .cards {
    justify-content: space-between;
    gap: 0;
  }
  #restaurants .cards .card {
    height: 251px;
    width: 490px;
    max-height: 251px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    background: white;
    position: relative;
  }
  #restaurants .cards .card a {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    width: 100%;
  }
  #restaurants .cards .card a img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #restaurants .cards .card .heart-checkbox__elements input:hover ~ .fa-solid {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s;
  }
  #restaurants .cards .card .heart-checkbox__elements input:hover ~ .fa-regular {
    transform: scale(0);
    transition: transform 0ms 290ms;
  }
  footer {
    background: #353535;
    color: white;
    padding: 30px 30px 20px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 60px;
  }
  footer h2 {
    font-family: "Shrikhand", cursive;
    margin: 0;
    padding: 0;
    font-size: 18px;
    order: 2;
  }
  footer ul {
    list-style: none;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
  footer ul li {
    margin: 0;
  }
  footer ul li a {
    display: inline-flex;
    gap: 10px;
  }
}/*# sourceMappingURL=style.css.map */